PG_USER=Postgres_user
PG_PASSWORD=Postgres_pasword
PG_HOST=Postgres_host
PG_PORT=9999
PG_DB=Auth_DB

# extra Postgres for the docker-compose postgres
PGPORT=$PG_PORT
POSTGRES_PASSWORD=$PG_PASSWORD
POSTGRES_USER=$PG_USER
POSTGRES_DB=$PG_DB

AUTH_REDIS_HOST=redis-auth
AUTH_REDIS_PORT=5379

AUTH_FASTAPI_HOST=fastapi-auth
AUTH_FASTAPI_PORT=8000

API_URL=http://localhost:8000/api/v1
